{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/base.css" %}>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <header>
        <a href="{% url 'course_list' %}" class="logo"><h1>Edu</h1></a>
        <nav>
            <ul class='horizontal-menu'>
                {% if request.user.is_authenticated %}
                <li>
                    <form action="{% url 'logout' %}" method='post'>
                        {% csrf_token %}
                        <input type='submit' class='btn' value='Выйти'>
                    </form>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}" class='btn'>Авторизация</a>
                </li>
                <li>
                    <a href="{% url 'register' %}" class='btn'>Регистрация</a>
                </li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li>
                        <a class='btn btn-danger' href="{% url 'admin:index' %}">Админ</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'course_list' %}" class="btn">Все курсы</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <aside>
            {% block aside %}{% endblock aside %}
        </aside>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>

    <footer>

    </footer>

    {% block js %}
    {% endblock js %}

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            {% block domready %}
            {% endblock domready %}
        })
    </script>
</body>
</html>