{% extends "base.html" %}

{% block title %}
{% if object %}
    Редактировать курс {{ object.title }}
{% else %}
    Создать новый курс
{% endif %}
{% endblock title %}

{% block content %}
<section>
    <h1>
        {% if object %}
            Редактировать курс {{ object.title }}
        {% else %}
            Создать новый курс
        {% endif %}
    </h1>
    <article>
        <h4>Информация о курсе</h4>
        <form method='post'>
            {{ form.as_p }}
            {% csrf_token %}
            <input class='btn btn-success' type="submit" value='Сохранить'>
        </form>
    </article>
</section>
{% endblock content %}
