{% extends "base.html" %}

{% block title %}
Курсы пользователя {{ request.user }}
{% endblock title %}

{% block content %}
<section>
    <h2>Мои курсы</h2>
    {% for course in courses %}
        <article>
            <h4>{{ course.title }}</h4>
            <a href="{% url 'course_edit' course.pk %}">Редактировать</a>
            <a href="{% url 'course_delete' course.pk %}">Удалить</a>
            <a href="{% url 'course_module_update' course.pk %}">Редактировать модули</a>
            {% if course.modules.count %}
                <a href="{% url 'module_content_list' course.modules.first.id %}">Управление контентом</a>
            {% endif %}
        </article>
    {% empty %}
        <p>У Вас еще нет курсов.</p>
    {% endfor %}
    <a href="{% url 'course_create' %}" class='button create-new-course' id=''>Создать новый курс</a>
</section>
{% endblock content %}

