{% extends "base.html" %}

{% block title %}
Курсы пользователя {{ request.user }}
{% endblock title %}

{% block content %}
<h2>Мои курсы</h2>
<section>
    {% for course in courses %}
        <article>
            <h4>{{ course.title }}</h4>
            <a href="{% url 'course_edit' course.pk %}">Редактировать</a>
            <form action="{% url 'course_delete' course.pk %}" method='post'>
                {% csrf_token %}
                <input type="submit" value="Удалить">
            </form>
        </article>
    {% empty %}
        <p>У Вас еще нет курсов.</p>
    {% endfor %}
    <a href="{% url 'course_create' %}" class='button create-new-course' id=''>Создать новый курс</a>
</section>
{% endblock content %}

