* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 1rem 2rem;
    background: #00CF91;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > a {
    text-decoration: none;
    color: #fff;
}

header > nav > ul {
    list-style: none;
}

main {
    min-height: 50vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    min-width: 400px;
    padding: 1rem;
    box-shadow: 0 1px 6px -4px #000;
    border-radius: 10px;
}

input[type='text'], input[type='password'], input[type='email'] {
    width: 100%;
    font-size: 16px;
    padding: .4rem 1rem;
    margin-top: .2rem;
    margin-bottom: .5rem;
    border: 1px solid #00CF91;
    border-radius: 6px;
}

.btn {
    color: #000;
    list-style: none;
    text-decoration: none;
    border: 1px solid #fff;
    background: #fff;
    padding: .5rem 2rem;
    border-radius: 10px;
}

.btn-danger {
    color: #fff;
    background: #F85C50;
}

.btn-success {
    color: #fff;
    background: #00CF91;
}
