{% extends "base.html" %}

{% block title %}
Авторизация
{% endblock title %}

{% block content %}
<section class='center-form'>
    {% if form.errors %}
    <div class="errors">
        <p>Неверное имя пользователя или пароль.</p>
    </div>
    {% endif %}
    <div>
        <form action="{% url 'login' %}" method='POST' class='login'>
            {% csrf_token %}
            <div>
                <label for="username-input">Имя пользователя</label>
                <div id='username-input'>{{ form.username }}</div>
            </div>
            <div>
                <label for="password-input">Пароль</label>
                <div id='password-input'>{{ form.password }}</div>
            </div>
            <input type="submit" class='btn btn-success center' value="Войти">
        </form>
    </div>
</section>
{% endblock content %}
