{% extends "base.html" %}

{% load course %}

{% block title %}
Модуль {{ module.order|add:1 }}: {{ module.title }}
{% endblock title %}

{% block content %}
{% with course=module.course %}
<section>
    <h1>Курс {{ course.title }}</h1>
    <article>
        <ul class="modules">
            {% for m in course.modules.all %}
                <li data-id='{{ m.id }}' {% if m == module %} class='selected' {% endif %}>
                    <a href="{% url 'module_content_list' m.id %}">
                        <span>
                            Модуль <span class='order'>{{ m.order|add:1 }}</span>
                        </span>
                        <br>
                        {{ m.title }}
                    </a>
                </li>
            {% empty %}
                <li>У вас 0 модулей</li>
            {% endfor %}
        </ul>
        <p>
            <a href="{% url 'course_module_update' course.id %}">
            Редактировать модули
            </a>
        </p>
    </article>
    <article>
        <h2>Модуль {{ module.order|add:1 }}: {{ module.title }}</h2>
        <h3>Содержимое модуля</h3>
        <div class="container">
            {% for content in module.contents.all %}
                <div data-id='{{ content.id }}'>
                    {% with item = content.item %}
                        <p>{{ item }} ({{ item|model_name }})</p>
                        <a href="{% url 'module_content_update' module.id item|model_name item.id %}">Редактировать</a>
                        <form action="{% url 'module_content_delete' content.id %}" method='post'>
                            {% csrf_token %}
                            <input type="submit" class='btn btn-danger' value="Удалить">
                        </form>
                    {% endwith %}
                </div>
            {% empty %}
            <p>Этот модуль не содержит контента</p>
            {% endfor %}
        </div>
        <div class="container">
            <h3>Добавить контент</h3>
            <ul class='content-types'>
                <li>
                    <a href="[% url 'module_content_create' module.id 'text' %]">Текст</a>
                </li>
                <li>
                    <a href="[% url 'module_content_create' module.id 'image' %]">Изображение</a>
                </li>
                <li>
                    <a href="[% url 'module_content_create' module.id 'video' %]">Видео</a>
                </li>
                <li>
                    <a href="[% url 'module_content_create' module.id 'file' %]">Файл</a>
                </li>
            </ul>
        </div>        
    </article>
</section>
{% endwith %}
{% endblock content %}
