{% extends "base.html" %}

{% block title %}
Редактирование {{ course.title }}
{% endblock title %}

{% block aside %}
<a href=""><h1>{{ course.title }}</h1></a>
{% endblock aside %}


{% block content %}
<section>
    <h2>Редактирование модулей курса </h2>
    <div>
        <h2>Модули курса</h2>
        <form method="post" action='{% url "course_module_update" course.pk %}'>
            {{ formset }}
            {{ formset.management_form }}
            {% csrf_token %}
            <input type="submit" class='btn btn-success' value="Сохранить">
        </form>
    </div>
</section>
{% endblock content %}
