{% extends "base.html" %}

{% block title %}
Редактирование {{ course.title }}
{% endblock title %}

{% block aside %}
<h1 style='color: #fff'>Курс <a href="{% url 'manage_course_list' %}">{{ course.title }}</a></h1>
{% endblock aside %}

{% block content %}
<section>
    <h2>Редактирование модулей курса </h2>
    <div>
        <h2>Модули курса</h2>
        <form method="post" action='{% url "course_module_update" course.pk %}'>
            {{ formset }}
            {{ formset.management_form }}
            {% csrf_token %}
            <input type="submit" class='btn btn-success' value="Сохранить">
        </form>
    </div>
</section>
{% endblock content %}
