{% extends "base.html" %}

{% block title %}
{{ object.title }}
{% endblock title %}

{% block aside %}
<h1 style='color: #fff'><a href="{% url 'course_detail' object.slug %}">{{ object.title }}</a></h1>
{% endblock aside %}

{% block content %}
{% with subject=object.subject %}
    <section class='module'>
        <h2>Описание</h2>
        <a href="{% url 'course_list_subject' subject.slug %}">
            {{ subject.title }}
        </a>
        <p>
            Всего модулей: {{ object.modules.count }}
        </p>
        <p>
            Владелец: {{ object.owner.get_full_name }}
        </p>
        {{ object.overview|linebreaks }}
        {% if request.user.is_authenticated %}
            <form action="{% url 'student_enroll_course' %}" method="post">
                {% csrf_token %}
                {{ enroll_form }}
                <input type="submit" class='btn btn-success' value="Записаться на курс">
            </form>
        {% else %}
            <a href="[% url 'student_registration' %]" class='btn btn-success'>
                Зарегистируйтесь, чтобы записаться на курс
            </a>
        {% endif %}
    </section>
{% endwith %}
{% endblock content %}

